@using Resources
@using UntoMeWorld.Domain.Model
@using UntoMeWorld.Domain.Security
@using UntoMeWorld.WasmClient.Client.Main
@inject NavigationManager _manager 

<div class="navigation-menu @(_isExpanded ? "expanded" : "")">

    <button class="navigation-menu__toggle" @onclick="ToggleMenu">
        <span class="navigation-menu__toggle-icon"></span>
    </button>

    <div class="navigation-menu__items-container">

        <AuthorizedPanel ApiResource="ApiResource.Children" RequiredPermissions="_crudPermissions">
            <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" href="@PageRoutes.ChildrenRoute" class="navigation-menu-item">
                <PhosphorIcon IconName="PhosphorIcons.UsersThree" CssClass="navigation-menu-item__icon"/>
                <h6 class="navigation-menu-item__title">
                    @PageRoutes.Routes[PageRoutes.ChildrenRoute]
                </h6>
            </NavLink>
        </AuthorizedPanel>
        
        <AuthorizedPanel ApiResource="ApiResource.Churches" RequiredPermissions="_crudPermissions">
            <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" href="@PageRoutes.ChurchesRoute" class="navigation-menu-item">
                <PhosphorIcon IconName="PhosphorIcons.HouseLine" CssClass="navigation-menu-item__icon"/>
                <h6 class="navigation-menu-item__title">
                    @PageRoutes.Routes[PageRoutes.ChurchesRoute]
                </h6>
            </NavLink>
        </AuthorizedPanel>
        
        <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" href="@PageRoutes.ReportsRoute" class="navigation-menu-item">
            <PhosphorIcon IconName="PhosphorIcons.ChartPieSlice" CssClass="navigation-menu-item__icon"/>
            <h6 class="navigation-menu-item__title">
                @PageRoutes.Routes[PageRoutes.ReportsRoute]
            </h6>
        </NavLink>
        <NavLink ActiveClass="active" Match="NavLinkMatch.Prefix" href="@PageRoutes.SettingsRoute" class="navigation-menu-item">
            <PhosphorIcon IconName="PhosphorIcons.GearSix" CssClass="navigation-menu-item__icon"/>
            <h6 class="navigation-menu-item__title">
                @PageRoutes.Routes[PageRoutes.SettingsRoute]
            </h6>
        </NavLink>
    </div>
</div>
<div class="navigation-menu-overlay @(_isExpanded ? "visible" : "")">
    
</div>
@code {

    private List<PermissionType> _crudPermissions = new()
    {
        PermissionType.Add,
        PermissionType.Delete,
        PermissionType.Read,
        PermissionType.Update
    };
    private bool _isExpanded = false;

    private void ToggleMenu()
    {
        _isExpanded = !_isExpanded;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        _manager.LocationChanged += (_, _) =>
        {
            _isExpanded = false;
            StateHasChanged();
        };
    }

}