@using UntoMeWorld.WasmClient.Client.Components.Base.Buttons
@using UntoMeWorld.Domain.Model
@inherits BaseChildrenDialog

<div class="dialog">
    <div class="dialog-header">
        <h5 class="text title text-primary font-bold m-0">
            @(IsNewChild ? "New Child" : "Edit Child")
        </h5>
    </div>

    <div class="dialog-content">

        <div class="container p-0">
            <h5 class="text-base font-semiBold text-normal">
                Personal Information
            </h5>
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="input">
                        <label>Name</label>
                        <input type="text" @bind="@Child.Name">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input">
                        <label>Lastname</label>
                        <input type="text" @bind="@Child.Lastname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Age</label>
                        <input type="number" @bind="@Child.Age">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Grade</label>
                        <input type="number" @bind="@Child.Grade">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Gender</label>
                        <DropDown
                            @bind-Value="Child.Gender"
                            Options="@(DropDowns.FromEnum<Gender>())">
                        </DropDown>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Church</label>
                        <DropDown
                            MaxDisplayCharLength="15"
                            @bind-Value="Child.Church"
                            Options="@ChurchesOptions">
                        </DropDown>
                    </div>
                </div>
            </div>


            <h5 class="text-base font-semiBold text-normal mt-3">
                Sizes
            </h5>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Top</label>
                        <input type="number" @bind="Child.TopSize">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Waist</label>
                        <input type="number" @bind="Child.WaistSize">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Shoes</label>
                        <input type="number" @bind="@Child.ShoeSize">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Underwear</label>
                        <DropDown
                            @bind-Value="Child.UnderwearSize"
                            MaxDisplayCharLength="10"
                            Options="@(DropDowns.FromEnum<UnderwearSize>())">
                        </DropDown>
                    </div>
                </div>
            </div>

            @if (Child.Gender == Gender.Female)
            {
                <div class="row">

                    <div class="col-6 col-md-3">
                        <div class="input">
                            <label>Bra</label>
                            <DropDown
                                @bind-Value="Child.BraSize"
                                MaxDisplayCharLength="15"
                                Options="@(DropDowns.FromEnum<UnderwearSize>())">
                            </DropDown>
                        </div>
                    </div>
                </div>
            }

            <h5 class="text-base font-semiBold text-normal mt-3">
                Other information
            </h5>
            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Sponsored</label>
                        <DropDown
                            @bind-Value="Child.IsSponsored"
                            Options="@DropDowns.Boolean">
                        </DropDown>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Uniforms Count</label>
                        <input type="number" @bind="@Child.UniformsCount">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Receives shoes</label>
                        <DropDown
                            @bind-Value="Child.ReceivesShoes"
                            Options="@DropDowns.Boolean">
                        </DropDown>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="input">
                        <label>Receives xmas gift</label>
                        <DropDown
                            @bind-Value="Child.ReceivesChristmasGift"
                            Options="@DropDowns.Boolean">
                        </DropDown>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input">
                        <label>Notes</label>
                        <textarea rows="2" @bind="Child.Notes"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="dialog-footer">

        <Button
            Text="Cancel"
            OnClick="Close"
            IconName="@PhosphorIcons.XCircle">
        </Button>

        <Button
            CssClass="ms-2"
            Text="Save"
            OnClick="Save"
            Style="@ButtonStyle.Primary"
            IconName="@PhosphorIcons.FloppyDisk">
        </Button>
    </div>

</div>