@using UntoMeWorld.WasmClient.Client.ViewModels
@using UntoMeWorld.Domain.Model
@using UntoMeWorld.WasmClient.Client.Utils

<table class="base-table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
        <tr>
            <th>Gender</th>
        </tr>
        <tr>
            <th>Church</th>
        </tr>
        <tr>
            <th>Age</th>
        </tr>
        <tr>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
    @if (ChildrenViewModel.Items.Any())
    {
        <Virtualize TItem="Child" Items="ChildrenViewModel.Items.ToList()" Context="kid">
            <ListRow>
                <td>@kid.FullName()</td>
                <td>@kid.Gender.ToString()</td>
                <td>@GetChurchName(kid)</td>
                <td>@kid.Age</td>
                <td>@kid.Grade</td>
            </ListRow>
        </Virtualize>
    }
    else
    {
        <p>Loading...</p>
    }
    </tbody>

</table>


@code {
    [CascadingParameter]
    public ChildrenViewModel ChildrenViewModel { get; set; }
    
    [Parameter]
    public Action<Child> OnChildClick { get; set; }

    private string GetChurchName(Child child)
        => string.IsNullOrEmpty(child.ChurchId) || !ChildrenViewModel.ChurchesDictionary.ContainsKey(child.ChurchId) ?
            "" : ChildrenViewModel.ChurchesDictionary[child.ChurchId].Name;
    

}